{% extends "yarr/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "yarr/index.css" %}" type="text/css" />
{{ block.super }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="yarr {% block page_class %}{% endblock %}">
    <div class="control">
        {% block yarr_control %}{% endblock %}
    </div>

    {% block yarr_body %}
    <div class="body with-sidebar">
            <div class="sidebar">
                {% block yarr_sidebar %}{% endblock %}
            </div>

            <div class="content">
                {% block yarr_content %}{% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block js %}
<script>YARR_CONFIG={{ yarr_settings.config|safe|default:'{}' }};</script>
<script src="{% static "yarr/index.js" %}"></script>
{{ block.super }}
{% endblock %}
