{% extends "yarr/base.html" %}
{% load static %}

{% block css %}
{% if not YARR_WEBPACK_DEV_URL %}
    <link rel="stylesheet" href="{% static "yarr/index.css" %}" type="text/css" />
{% endif %}
{{ block.super }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="yarr {% block page_class %}{% endblock %}">
    <div class="control">
        {% block yarr_control %}{% endblock %}
    </div>

    {% block yarr_body %}
    <div class="body with-sidebar">
            <div class="sidebar">
                {% block yarr_sidebar %}{% endblock %}
            </div>

            <div class="content">
                {% block yarr_content %}{% endblock %}
            </div>
        </div>
    </div>
    {% endblock %}
</div>

<script>YARR_CONFIG={{ yarr_settings.config|safe|default:'{}' }};</script>
{% if YARR_WEBPACK_DEV_URL %}
    <script src="{{ YARR_WEBPACK_DEV_URL }}index.js"></script>
{% else %}
    <script src="{% static "js/index.js" %}"></script>
{% endif %}
{% endblock %}
