{% extends "yarr/base_manage.html" %}

{% load url from future %}

{% block content %}

{{ block.super }}

<h2>Add feed</h2>
{% include "yarr/include/form_feed_add.html" %}

<h2>Manage feeds</h2>

<table class="yarr_feed_manage">
    <tr>
        <th>Feed</th>
        <th>Status</th>
        <th>Last checked</th>
        <th>Next check</th>
    </tr>
    {% for feed in feeds %}
        <tr>
            <td><a href="{% url "yarr-feed_edit" feed_pk=feed.pk %}">{{ feed.title }}</a></td>
            
            {% if feed.is_active %}
                {% if feed.error %}
                    <td><img src="{{ STATIC_URL }}yarr/warning.png" alt="Problem" title="Problem"></td>
                {% else %}
                    <td><img src="{{ STATIC_URL }}yarr/success.png" alt="Active" title="Active"></td>
                {% endif %}
            {% else %}
                <td><img src="{{ STATIC_URL }}yarr/error.png" alt="Inactive" title="Inactive"></td>
            {% endif %}
            
            <td>{{ feed.last_checked|default:"Not checked yet" }}</td>
            
            {% if feed.is_active %}
                <td>{{ feed.next_check|default:"As soon as possible" }}</td>
            {% else %}
                <td>Never</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

{% endblock %}
