{% extends "yarr/base.html" %}

{% load url from future %}

{% block js %}
{{ block.super }}
{% if yarr_settings.add_jquery %}
    <script src="{{ STATIC_URL }}yarr/jquery-1.10.1.min.js"></script>
{% endif %}
<script src="{{ STATIC_URL }}yarr/list_entries.js"></script>
{% endblock %}

{% block content %}

<div id="yarr_con"
    data-available-pks="{{ available_pks|join:"," }}"
    data-api-page-length="{{ yarr_settings.api_page_length }}"
    data-api-entry-get="{% url 'yarr-api_entry_get' %}"
    data-api-entry-set="{% url 'yarr-api_entry_set' %}"
    data-q-feedpk="{{ feed.pk }}"
    data-q-saved="{{ saved|lower }}"
    data-q-unread="{{ unread|lower }}"
    data-layout-fixed="{{ yarr_settings.layout_fixed|lower }}"
>

{% block yarr_control %}
    <div class="yarr_control">
        <ul class="yarr_menu_filter">
            <li><a href="{% url 'yarr-list_all' %}"{% if not unread and not saved %} class="yarr_selected"{% endif %}>All</a></li>
            <li><a href="{% url 'yarr-list_unread' %}"{% if unread %} class="yarr_selected"{% endif %}>Unread</a></li>
            <li><a href="{% url 'yarr-list_saved' %}"{% if saved %} class="yarr_selected"{% endif %}>Saved</a></li>
        </ul>
        <ul class="yarr_menu_op">
            {% if feed %}
                <li><a href="{% url 'yarr-mark_feed_read' feed_pk=feed.pk %}">Mark feed read</a></li>
            {% else %}
                <li><a href="{% url 'yarr-mark_all_read' %}">Mark all read</a></li>
            {% endif %}
        </ul>
        
        {% if entries.paginator.num_pages > 1 %}
            <ul class="yarr_paginated">
                {% if pagination.has_previous %}
                    <li><a href="?p={{ pagination.previous }}">&laquo;</a></li>
                {% endif %}

                {% if pagination.show_first %}
                    <li><a href="?p=1">1</a></li>
                    <li><span>...</span></li>
                {% endif %}
                
                {% for linkpage in pagination.page_numbers %}
                    {% ifequal linkpage pagination.current %}
                        <li><span>{{ pagination.current }}</span></li>
                    {% else %}
                        <li><a href="?p={{ linkpage }}">{{ linkpage }}</a></li>
                    {% endifequal %}
                {% endfor %}
                
                {% if pagination.show_last %}
                    <li><span>...</span></li>
                    <li><a href="?p=last">{{ pagination.total }}</a></li>
                {% endif %}
                
                {% if pagination.has_next %}
                    <li><a href="?p={{ pagination.next }}">&raquo;</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block yarr_feed_list %}
    <div class="yarr_feed_list">
        <ul class="yarr_menu_feeds">
            <li><a href="{% url 'yarr-feed_add' %}">Add feed</a></li>
            <li><a href="{% url 'yarr-feeds' %}">Manage feeds</a></li>
            {% if feed %}
                <li><a href="{% url current_view %}">View all feeds</a></li>
            {% endif %}
        </ul>
        
        <ul>
            {% for feed in feeds %}
                <li><a href="{% url current_view feed_pk=feed.pk %}">{{ feed.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block yarr_content %}
    <div class="yarr_content">
        {% if entries.object_list|length == 0 %}
            {% if saved %}
                <p>No saved items</p>
            {% else %}
                {% if unread %}
                    <p>No unread items</p>
                {% else %}
                    <p>No items</p>
                {% endif %}
            {% endif %}
            
        {% else %}
        
            {% for entry in entries.object_list %}
                {% include "yarr/include/entry.html" %}
            {% endfor %}
            
        {% endif %}
    </div>
    
</div>
{% endblock %}

{% endblock %}
