/*
** Named colours
*/

$colour-white: #fff;
$colour-black: #000;

$colour-green: #6a4;
$colour-red: #ff7c60;
$colour-red-dark: #a54;
$colour-blue: #46a;

$colour-grey: #ccc;
$colour-grey-dark: #666;
$colour-grey-mid: #eee;
$colour-grey-light: #f8f8f8;


// Global colours
$colour-layout-border: $colour-grey !default;
