/*
** Fonts
*/

$weight-light: 100;
$weight-normal: normal;
$weight-bold: bold;
$weight-boldest: 900;

// Character codes
$char-burger: '\2261';
$char-cross: '\00D7';
$char-arrow-up: '\25B4';
$char-arrow-right: '\25B8';
$char-arrow-down: '\25BE';
$char-arrow-left: '\25C2';
