.yarr {
    form.feed_form {
        table {
            width: 100%;

            tr {
                & > *:first-child {
                    width: 10rem;
                    text-align: right;
                    padding-right: 0.5rem;
                }
            }
            input[type="text"] {
                width: 100%;
            }
            .helptext {
                font-size: 0.8rem;
                color: $colour-grey-dark;
            }
        }
    }

    table.feed_manage {
        width: 100%;

        tr {
            th {
                background-color: $colour-grey-dark;
                color: $colour-white;
                padding: 0.2rem;
            }
            td {
                padding: 0.2rem;
            }

            &:nth-child(2n) {
                background-color: $colour-grey-mid;
            }

            td:nth-child(2) {
                width: 4rem;
            }
            td:nth-child(3) {
                width: 4rem;
            }
            td:nth-child(4) {
                width: 12rem;
            }
        }
    }
}
