/*
** CSS for yarr
** All elements are prefixed with yarr_
*/


#yarr_con {
    position:   relative;
    width:      100%;
    overflow:   hidden;
}

#yarr_status {
    position:   fixed;
    width:      200px;
    margin-left:    -100px;
    top:        0;
    left:       50%;
    background: #6a4;
    padding:    0.6em 1em;
    color:      #fff;
    font-weight:    bold;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.7);
    z-index:        3;
}
#yarr_status.yarr_error {
    background: #a54;
}



/******************************************************************************
**                                                              Control bar
*/

.yarr_control {
    width:          100%;
    overflow:       hidden;
    padding:        0.6em 0 1em 0;
    margin:         0;
    border-bottom:  1px solid #ccc;
    background:     #fff;
    z-index:        2;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing:    border-box; /* Firefox, other Gecko */
    box-sizing:         border-box; /* Opera/IE 8+ */
}

.yarr_control ul {
    margin:     0 2em 0 0;
    padding:    0;
    float:      left;
}
.yarr_control ul,
ul.yarr_entry_control {
    list-style: none;
}

.yarr_control li,
ul.yarr_entry_control li {
    display:        inline-block;
    margin-right:   0;
}

.yarr_control li a,
.yarr_control li span {
    display:    block;
    border:     1px solid #ccc;
    background: #f8f8f8;
    color:      #666;
    font-size:  0.8em;
    padding:    0.4em 1em;
    font-weight:    bold;
    text-decoration:    none;
}
.yarr_control li a:hover,
.yarr_control li a.yarr_selected,
.yarr_control li span {
    color:      #000;
    background-color: #fff;
}

.yarr_control .yarr_paginated,
.yarr_control .yarr_nav {
    float:  right;
    margin:     0;
}

.yarr_control .yarr_nav a {
    width:  24px;
    padding:    0.4em 0;
    background-repeat:  no-repeat;
    background-position: 0 50%;
    background-image: url('/static/yarr/images/arrows.png');
}

.yarr_control .yarr_nav a.yarr_next {
    background-position: -24px 50%;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
**                                                              Entry control
*/

ul.yarr_entry_control {
    background: #f8f8f8;
    border-top: 1px solid #ccc;
    margin:     0.6em 0 0 0;
    padding:    0.3em 1em;
}

ul.yarr_entry_control li label,
ul.yarr_entry_control li a {
    font-size:  0.8em;
    color:      #666;
    text-decoration:    none;
}
ul.yarr_entry_control li a:hover {
    color:      #000;
    text-decoration:    underline;
}

ul.yarr_entry_control li {
}
ul.yarr_entry_control li label {
}
ul.yarr_entry_control li label input {
    vertical-align:middle;
}


/******************************************************************************
**                                                              Entry display
*/


.yarr_content {
    z-index:        2;
}

.yarr_content h2 {
    margin:     0;
    padding:    0;
    font-size:  1.8em;
    line-height:    1.1em;
}

.yarr_content .yarr_read h2 a {
    color:  #666;
}

.yarr_content h2 a,
.yarr_content .yarr_active h2 a,
.yarr_feed a {
    color:  #46a;
    text-decoration:    none;
}


.yarr_content h2 a:hover,
.yarr_feed a:hover {
    text-decoration:    underline;
}

.yarr_entry {
    border:     1px solid #ccc;
    padding:    0;
    margin:     1em 0;
}
    
.yarr_entry.yarr_active {
    border-left: 1px solid #46a;
}
.yarr_entry.yarr_active .yarr_content {
    opacity:    1;
}
.yarr_entry_content {
    padding:    0.6em 1em 0 1em;
    overflow:   hidden;
}

.yarr_entry_content img {
    max-width:  100%;
}

.yarr_date, .yarr_feed {
    color:  #666;
    margin-top: 0;
}
.yarr_date {
    float:  right;
}
.yarr_feed {
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
**                                                              Feed list
*/

.yarr_feed_list {
    width: 15em;
    position: fixed;
    border: 1px solid #ccc;
    margin: 1em 0 0 0;
    overflow-y:   scroll;
}
.yarr_content {
    margin-left:    16em;
}

.yarr_feed_list ul + ul {
    border-top: 1px solid #ccc;
}

.yarr_feed_list ul {
    list-style: none;
    margin:     0;
    padding:    0.6em;
}
.yarr_feed_list li {
    height:     1.8em;
    line-height:    1.8em;
    white-space:    nowrap;
    overflow:       hidden;
    text-overflow:  ellipsis;
}

@media all and (max-width: 50em) {
    .yarr_feed_list {
        width:  10em;
    }
    .yarr_content {
        margin-left:    11em;
    }
}

/* Mobile layout
** Unlike normal layout, hidden by default
** toggleFeed() will detect by checking for position: relative
*/
@media all and (max-width: 40em) {
    .yarr_feed_list {
        display:    none;
        position:   relative;
        width:      auto;
        overflow-y: auto;
        top:        0 !important;
    }
    .yarr_content {
        margin-left: 0;
    }
}

.yarr_feed_unread {
    font-weight:    bold;
}
.yarr_count_unread {
    font-size:      0.8em;
    font-weight:    normal;
    color:          #666;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
**                                                              List display
** Default to expanded mode
*/

.yarr_mode_list {
    padding-top:    1em;
    border-bottom:  1px solid #ccc;
}

.yarr_mode_list .yarr_entry {
    margin: 0;
    border-bottom: 0;
}

.yarr_entry_li,
.yarr_mode_list .yarr_entry_content,
.yarr_mode_list .yarr_entry_control {
    display:    none;
}
.yarr_mode_list .yarr_entry_li {
    display:    block;
}


.yarr_mode_list .yarr_open .yarr_entry_li,
.yarr_mode_list .yarr_open .yarr_entry_content,
.yarr_mode_list .yarr_open .yarr_entry_control {
    display:    block;
}


/* Style list block */

.yarr_read .yarr_entry_li {
    background-color:   #eee;
}
.yarr_entry_li {
    padding:    0 1em;
}
.yarr_mode_list .yarr_entry_content {
    border-top:  1px solid #ccc;
}

.yarr_entry_li:hover {
    background-color:   #f8f8f8;
    cursor: pointer;
    cursor: hand;
}

.yarr_entry_li div {
    height:     1.8em;
    line-height:    1.8em;
    overflow:   hidden;
    color:      #666;
}

.yarr_li_feed {
    float:      left;
    width:      15em;
    margin-right: 1em;
}
.yarr_li_entry {
    white-space:    nowrap;
    overflow:       hidden;
    text-overflow:  ellipsis;
}
.yarr_li_entry span {
    color:      #000;
    font-weight:    bold;
}
.yarr_read .yarr_li_entry span {
    font-weight:    normal;
}
.yarr_li_date {
    float:      right;
    text-align: right;
    width:      10em;
}


/******************************************************************************
**                                                       Feed management table
*/

table.yarr_feed_manage {
    table-layout: fixed;
    border-collapse: collapse;
    border:         0;
    width:          100%;
}

table.yarr_feed_manage th {
    text-align: left;
    background: #ccc;
}

table.yarr_feed_manage th,
table.yarr_feed_manage td {
    padding:    0.1em 0.6em;
    border:     1px solid #ccc;
    height:     1.6em;
    line-height:    1.6em;
}

table.yarr_feed_manage tr[data-yarr-pk] td {
    white-space:    nowrap;
    overflow:       hidden;
    text-overflow:  ellipsis;
}

table.yarr_feed_manage tr[data-yarr-pk]:hover td {
    background: #f8f8f8;
}

col.yarr_unread,
col.yarr_status {
    width: 6em;
}

col.yarr_next_check {
    width: 12em;
}

tr.yarr_feed_info td {
    height: 0;
    padding-left:   2em;
};


tr.yarr_feed_info dl {
    position:   relative;
}
tr.yarr_feed_info dt {
    float:      left;
    width:      7em;
}
tr.yarr_feed_info dd {
    padding-left: 8em;
    margin: 0;
}


/******************************************************************************
**                                                              Forms
*/

form.yarr_form table {
    width:  100%;
}

form.yarr_form table tr *:first-child {
    width:      8em;
}

form.yarr_form table th,
form.yarr_form table td {
    vertical-align: top;
}

form.yarr_form table th {
    text-align:     left;
}

form.yarr_form table input[type="text"] {
    width:  100%;
}

form.yarr_form table span.helptext {
    display:    block;
    font-style: italic;
    font-size:  0.8em;
}
