{% load url from future %}

{% if feed.error %}
    <h2>Problem with feed</h2>
    <p>Last time it was checked, the feed had the following error:</p>
    <blockquote><pre><code>{{ feed.error }}</code></pre></blockquote>
    
    {% if feed.is_active %}
        <p>The feed is still being checked.</p>
    {% else %}
        <p>The feed is no longer being checked.</p>
    {% endif %}
    
    <h2>Edit feed</h2>
{% endif %}

<form action="{% url "yarr-feed_edit" feed_pk=feed.pk %}" method="POST" class="yarr_form">
{% csrf_token %}

<table>
{{ feed_form.as_table }}
<tr><td></td><td><input type="submit" value="Save changes" /></td></tr>
</table>

</form>
